footer {
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-top: 100px;
    text-align: center;
  }


  /* Fixes for footer overlapping bottom row of container */
  @media screen and (max-device-width : 496px){
    .wrapper {
        font-family: 'Roboto', sans-serif;
        position: relative;
        padding-top: 100px;
        text-align: center;
      }
  }

  @media screen and (max-device-width : 234px){
    .wrapper {
        font-family: 'Roboto', sans-serif;
        position: relative;
        padding-top: 150px;
        text-align: center;
      }
  }

  @media screen and (max-device-width : 206px){
    .wrapper {
        font-family: 'Roboto', sans-serif;
        position: relative;
        padding-top: 350px;
        text-align: center;
      }
  }