<div class="container">
    <div class="row gx-6">
      <h1 class="page-heading">The Impossible List.</h1>
      <p class ="page-heading-subtitle"><i>"Sort of like an iterative bucket list"</i></p>
      <p class ="page-heading-subtitle-two">
          I've put together and published this list to accomplish two things for myself: 1. Keep 
          myself accountable, and 2. Ensure I am always working towards "the next cool thing". As I 
          mentioned on the hompage of this website, I'm someone who can easily waste away days, weeks,
          or even months if I don't have anything to work towards - it's happened before, and I'm sure 
          that it could happen again. The goal of this list is to ensure I never have to look back 
          on any period of time, and think "I haven't really been doing much..."
          <br><br>
          This list was created on February 6th, 2021, and is meant to be treated sort of like an 
          iterative bucket list, where the goals may start small, but I aim to increase the scope
          of them whenever they are accomplished. Some goals on here are retroactively filled in, 
          but many of them have 2/6/2021 as a "Day #1" starting point. 
          <br><br>
          Finally, I may add or remove goals as my life's priorities shift - but the overarching 
          goal of this list will always remain the same.
        </p>
    </div>

    <div class="row gx-6">
        <h2 class="section-header">Life & Career Goals.</h2>
            <p class="goal-bullet">• <del>Graduate College</del> <i> (March 20th, 2019)</i></p>
                <p class="goal-subbullet"> ‣ Obtained a Bachelor of Science in Computer Science & a Minor in Mathematics.</p>
            <p class="goal-bullet">• Earn a Master's Degree.</p>
            <p class="goal-bullet">• Pay off student loans.</p>
            <p class="goal-bullet">• Become worthless ($0 net worth).</p>
            <p class="goal-bullet">• Help someone else get a job at the company I work for.</p>
    </div>

    <div class="row gx-6">
        <h2 class="section-header">Travel Goals.</h2>
            <p class="goal-bullet">• Visit 10 States.</p>
                <p class="goal-subbullet">‣ Current Progress: 7/10 (WA, OR, CA, ID, VA, NY, IL)</p>
            <p class="goal-bullet">• Visit 5 Countries.</p>
                <p class="goal-subbullet">‣ Current Progress: 2/5 (USA, Canada)</p>
            <p class="goal-bullet">• Visit Another Continent.</p>
            <p class="goal-bullet">• Experience...</p>
                <p class="goal-subbullet">‣ Oktoberfest in Germany.</p>
                <p class="goal-subbullet">‣ Chinese New Year in China.</p>
                <p class="goal-subbullet">‣ St. Patricks Day in Dublin.</p>
                <p class="goal-subbullet">‣ Carnival in Rio de Janeiro.</p>
                <p class="goal-subbullet">‣ Cherry Blossoms in Japan.</p>
                <p class="goal-subbullet">‣ The Olympics.</p>
                <p class="goal-subbullet">‣ The Kentucky Derby.</p>
                <p class="goal-subbullet">‣ The World Cup.</p>
                <p class="goal-subbullet">‣ The Super Bowl.</p>
    </div>

    <div class="row gx-6">
        <h2 class="section-header">Fitness Goals.</h2>
            <p class="goal-bullet">• Hit my (current) goal weight of 180lbs.</p>
            <p class="goal-bullet">• Run 50 Miles (Cumulative).</p>
            <p class="goal-bullet">• Run a 5K.</p>
            <p class="goal-bullet">• Own a Bike.</p>
                <p class="goal-subbullet">‣ I'm aspiring to cycle 100 cumulative miles, but need to actually own a bike first!</p>
            <p class="goal-bullet">• Do 50 push-ups in a single set.</p>
            <p class="goal-bullet">• Do 50 sit-ups in a single set.</p>
            <p class="goal-bullet">• Finish 10 Unique Hikes/Trails.</p>
    </div>

    <div class="row gx-6">
        <h2 class="section-header">Hobbies / "For Fun" Goals.</h2>
            <p class="goal-bullet">• Books.</p>
                <p class="goal-subbullet">‣ Read 10 Books.</p>
            <p class="goal-bullet">• Video Games.</p>
                <p class="goal-subbullet">‣ Complete Every Legend of Zelda Game to 100%.</p>
                <p class="goal-subbullet">‣ Complete the <a href="https://bulbapedia.bulbagarden.net/wiki/Living_Pok%C3%A9dex">National "Living" Dex</a> in the latest Pokémon game.</p>
                <p class="goal-subbullet">‣ Reach Diamond Rank in League of Legends.</p>
                    <p class="goal-subbullet-two">‣ Current highest rank ever achieved: Platinum 1 (So close!)</p>
                <p class="goal-subbullet">‣ Write a custom mod for a game I enjoy.</p>
                <p class="goal-subbullet">‣ Enter an in-person Super Smash Bros. tournament.</p>
            <p class="goal-bullet">• Movies.</p>
                <p class="goal-subbullet">‣ Watch 25 Movies.</p>
    </div>

    <div class="row gx-6">
        <h2 class="section-header">Anything Else!</h2>
        <p class="goal-bullet">• Appear as a guest on a podcast.</p>
        <p class="goal-bullet">• Create a YouTube video.</p>
            <p class="goal-subbullet">‣ Gain 100 views on a video.</p>
        <p class="goal-bullet">• Go skydiving.</p>
        <p class="goal-bullet">• Learn an instrument, at least well enough to play a full song I enjoy.</p>
    </div>
</div>


<router-outlet></router-outlet>