<div class="intro">
    <br><br>
    <img class="img-fluid" src="assets/images/{{profile_picture}}" alt="Derek's Profile Photo" width="600">
    <br>
    <ul class="social-links">
         <li><a href="https://www.linkedin.com/in/derek-vaughan/">{{social_linkedin}}</a></li>
         <li> | </li>
         <li><a href="https://github.com/derek-vaughan">{{social_github}}</a></li>
     </ul>
     <br>
     <h1 class="name text-center">Hi, I'm Derek Vaughan.</h1>
     <h4 class="subtitle text-center">Software Engineer // 24 years old // Seattle Area</h4>
 </div>
 