<div class="container">
    <div class="row gx-6">
      <div class="col-12 col-md-6 col-sm-6">
        <h1 class="container-header-left-one">Code.</h1>
        <p class="container-paragraph-left-one">
          Solving problems, no matter the complexity, is something that I've always found myself having a deep-rooted passion for. 
          <br><br>
          Gathering all available information about a problem, and working to most optimally solve it within the given constraints, is 
          one of the most rewarding and engaging activities I can think of - this is why coding has always piqued my interest, and why 
          I ultimately became a software engineer, as I can take on and solve these puzzles every single day.
          <br><br>
          Currently, I am working as a Software Engineer at Avanade in Seattle. You can follow my personal adventures with code by checking out 
          my <a href="https://github.com/derek-vaughan">GitHub account.</a>
        </p>
      </div>

      <div class="col-12 col-md-6 col-sm-6">
        <img class="container-image-right-one" src="assets/images/{{code_image}}" alt="laptop">
      </div>
    </div>

    <div class="row gx-6">
      <div class="col-12 col-md-6 col-sm-6 order-last order-sm-first">
        <img class="container-image-left-one" src="assets/images/{{growth_image}}" alt="growth">
      </div>
      <div class="col-12 col-md-6 col-sm-6">
        <h1 class="container-header-right-one">Growth.</h1>
        <p class="container-paragraph-right-one">
          Personal wellbeing, productivity, getting out of debt, excercising, investing, setting goals, etc. I'm fascinated with 
          researching and discussing these types of topics, and decided to keep them all under the singular banner of <i>Growth.</i>.
          <br><br>
          In an effort to get all of my thoughts out in one place, and to practice my writing skills, I'm planning on starting a
          blog, or journal of sorts, to discuss these topics that are extremely important to me.
          <br><br>
          Coming soon, you will be able to find my postings linked here.
        </p>
      </div>
    </div>

    <div class="row gx-6">
      <div class="col-12 col-md-6 col-sm-6">
        <br>
        <h1 class="container-header-left-two">Goals.</h1>
        <p class="container-paragraph-left-two">
          I'm always aiming to be on the pursuit of learning and/or experiencing new and incredible things. 
          <br><br>
          As someone who can very easily binge a new TV show, or play way too many hours of video games every day for weeks at a time, 
          it's important to me that I work hard to avoid complacency. Combining this with my love for tracking and productivity systems: I 
          have created an Impossible List, inspired by <a href="https://www.youtube.com/watch?v=6apcEae2U4w">this video.</a> 
          <br><br>
          You can find my Impossible List <a routerLink="/impossible">here. </a><i> (P.S. - I'll probably still put a few hundred hours into the next Legend of Zelda 
          game once it comes out.)</i>
        </p>
      </div>
      <div class="col-12 col-md-6 col-sm-6">
        <br>
        <img class="container-image-right-two" src="assets/images/{{goals_image}}" alt="target">
      </div>
    </div>

    <div class="row-bottom">
      <div class="col">
        <h1 class="container-header-center">Contact.</h1>
        <p class="container-paragraph-center">
          Want to chat about life, the universe, or my very serious opinions on Camel Case vs Pascal Case? My inbox is always open on <a href="https://www.linkedin.com/in/derek-vaughan/">LinkedIn!</a> 
          <br>
          Additionally, I can be contacted via email at Derek@email.com.
          <br><br>
        </p>
      </div>
   </div>
</div>
